* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    background-color: #6b9ed1;
    display: flex;
    justify-content: space-around;
    padding: 1rem;
}

.img img {
    max-width: 400px;
    max-height:350px;
    padding: 3rem;
    border-radius:10px ;
}

.container>h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    font-size: 10px;
}

.title>h1 {
    justify-content: center;
}

.projects {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    background-color: #afcdea;
    padding: 20px;
}

.projects>h2 {
    text-decoration: underline;
}

.container-project {
    display: flex;
    text-align: center;
    border: groove 5px;
    margin: 10px;
}

.container-project>img {
    width: 10rem;
    height: 10rem
}

.container-project>p {
    font-size: 1rem;
}

.contenido-texto {
    text-align: center;
    justify-content: center;
    padding: 1rem;
}

.social {
    background-color: #6b9ed1;
    display: flex;
    justify-content: space-around;
    gap: 1rem;
}



@media(min-width:430px) {
    body {
        width: 430px;
        height: 0;
        margin: 0;
    }

    .title>h1 {
        padding: 1rem;
    }

    .projects>h2 {
        padding: 5px;
    }

    .container-project {
        width: 25rem;
        display: flex;
        justify-content: center;
        text-align: center;
        border: groove 5px;
        margin: 3.2px;

    }

    .container-project>p {
        align-items: center;
    }

    .social {
        display: flex;
        justify-content: space-around;
        align-items: center;
        gap: 1.5rem
    }
}

@media(min-width:480px) {
    body {
        width: 480px;
        height: 0;
        margin: 0;
    }

    .title>h1 {
        padding: 1rem;
    }

    .projects>h2 {
        padding: 5px;
    }

    .social {
        display: flex;
        justify-content: space-around;
        gap: 1rem;
    }
}

@media(min-width:820px) {

    body {
        width: 820px;
        height: 1180px;
    }

    .title>h1 {
        padding: 1rem;
        font-size: 3rem;
    }

    .title>p {
        font-size: 1.3rem;
    }

    .projects>h2 {
        padding: 5px;
        font-size: 1.5rem;
    }

    .container-project {
        width: 45rem;
        padding: 1rem;
        margin: 1rem;
    }

    .contenido-texto> h2{
        padding: 1rem;
    }
    .contenido-texto> p{
        font-size: 1.2rem;
    }
    .social{
        padding: 1rem;
        display: flex;
        align-items: center;
        gap: 5rem;
    }
}
@media(min-width:1559px){
     body{
        width: 1559px;
        height:0;
        margin: 0;
     }
     .img> img{
        width:20rem;
        border-radius: 1rem;
     }
     .img> h2{
        font-size: 2rem;
     }
     .title{
        padding: 3rem;
     }
     .title>h1{
        font-size: 3rem;
        padding: 2rem;
     }
     .title>p{
         font-size: 2rem;
     }

     .projects> h2{
        font-size:3rem;
     }
     .container-project {
        width: 45rem;
        padding: 1rem;
        margin: 1rem;
    }
    
}